<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
        Login & Registration
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'login_app/style.css' %}" />
  </head>
  <body>
    <main class="container">
      <header class="brand">SimpleAuth</header>
      <section class="card">
        {% block content %}

        {% endblock %}
      </section>
      <footer class="footer">
        &copy; {{ ' ' }} {% now 'Y' %} {{ ' ' }}Khaled Alabadla
      </footer>
    </main>
    {% block scripts %}

    {% endblock %}
  </body>
</html>
